@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.mainfont{
    font-family: 'Montserrat', sans-serif;
}
.heroheight{
    height: 70vh;
}

.buttonclr{
    background: rgb(238, 117, 61);
}
.buttonclr:hover{
    background: rgb(233, 96, 33);
}